<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>sekapato 大阪 東京 神戸 京都 全国からパートナー探し</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="当クラブに入会している男性達は、女性コンシェルジュが面談をし女性目線から見たゆとりある紳士な方ばかりです。 
全ての男性会員に身分証の提示、職業、年収など確認し上質な時間を過ごせる社会的マナーをわきまえてる方ばかりです。 
">
<meta name="keywords" content="セカパト,交際倶楽部,デートクラブ,パパ活,東京,大阪,出会い,求人">
<link rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="/js/openclose.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header>
		<div class="inner">
			<h1 id="logo">
				<a href="index.html">
					<img src="/img/sekapato-logo-h.png" alt="sekapato 大阪 東京 神戸 京都 全国からパートナー探し">
				</a>
			</h1>
			<a href="tel:0120810375">
				<div id="contact">

					<p class="tel">
						TEL:0120-810-375
						<span> 受付：00:00〜00:00 定休日：水曜日 </span>
					</p>

				</div>
			</a>
		</div>
	</header>

	<!--PC用（801px以上端末）メニュー-->
	<nav id="menubar">
		<ul class="inner">
			<li>
				<a href="#about"> About SEKAPATO </a>
			</li>
			<li>
				<a href="#qa"> 気になるご質問。 </a>
			</li>
			<li>
				<a href="#setting"> セッティング迄の流れ </a>
			</li>
			<li class="">
				<a href="#contactform"> お問合せ </a>
			</li>
		</ul>
	</nav>
	<!--小さな端末用（800px以下端末）メニュー-->
	<nav id="menubar-s">
		<ul>
			<li>
				<a href="#about"> About SEKAPATO </a>
			</li>
			<li>
				<a href="#qa"> 気になるご質問。 </a>
			</li>
			<li>
				<a href="#setting"> セッティングの流れ </a>
			</li>
			<li class="">
				<a href="#contactform"> お問合せ </a>
			</li>
		</ul>
	</nav>

	<!--メインイメージ-->
	<aside id="mainimg">
		<img src="/img/main.jpg" alt="">
	</aside>

	<div class="contents">
		<div class="inner">
			<section id="about">
				<h2>
					About SEKAPATO
					<span>About</span>
				</h2>
				<div class="list c1">
					<div class="text">
						<h4>
							sekapato
							<br>
							大阪 東京 神戸 京都 全国からパートナー探し
						</h4>
						<img src="/img/about.jpg">
						<p>
							当クラブに入会している男性会員様は、女性コンシェルジュが面談をするので、
							<br>
							女性目線から見たゆとりある紳士な方ばかりです。
							<br>
							<br>
							全ての男性会員様に身分証明書の提示をしていただき、職業や年収などを確認していますので、
							<br>
							社会的マナーをわきまえてる方ばかりです。
							<br>
							<br>
							上質な時間を過ごしながら、あなたの夢を叶えることができます。
							<br>
							<br>
							安心してご登録下さい。
							<br>
							<br>
							女性会員様は一切の費用は無料となります。
						</p>
					</div>
				</div>
			</section>
		</div>
		<!--/inner-->
	</div>
	<!--/contents-->

	<div class="contents">
		<div class="inner">
			<section id="qa">
				<h2>
					気になるご質問。
					<span>Q & A</span>
				</h2>
				<div class="list">

					<img src="/img/dollar.jpg" alt="" class="img">
					<div class="text">
						<h4>Q.お食事だけでおこづかいが欲しい。</h4>
						<p>
							お食事だけでも全然大丈夫です。
							<br>
							気が合えばショッピングやドライブなど、その後の発展はお2人次第なので安心して下さい。
							<br>
						</p>
					</div>
				</div>
				<div class="list">
					<img src="/img/compa.jpg" alt="" class="img">
					<div class="text">
						<h4>Q&A コンパなどもありますか？</h4>
						<p>
							コンパなどのセッティングも女性会員様が可能であれば喜んでお受けします。
							<br>
							お友達同士でのセッティングですと楽しめそうですね。
							<br>
							可能な方は女性会員様数名での同時セッティングもあります。
						</p>
					</div>
				</div>
				<div class="list">
					<img src="/img/gentleman.jpeg" alt="" class="img">
					<div class="text">
						<h4>Q&A 割り切ったお付き合いがしたい。</h4>
						<p>
							不特定多数はイヤだし、割り切ったお付き合いがしたいと言う女性は沢山います。
							<br>
							もちろんそれは男性も同じです。。
							<br>
							面倒くさい関係はイヤだ。
							<br>
							その日だけ遊びたい。 旅行だけ行きたい。
							<br>
							<br>
							あなたに合ったお付き合いができます。
						</p>
					</div>
				</div>
				<div class="list">
					<img src="/img/cupple.jpg" alt="" class="img">
					<div class="text">
						<h4>Q&A 恋人が出来たりもするの？</h4>
						<p>
							もちろんあります。
							<br>
							当クラブには独身男性も沢山おられます。
							<br>
							当クラブは出会いの場をセッティングするだけなので、そこからの発展は貴女次第です。

						</p>
					</div>
				</div>

			</section>
		</div>
		<!--/inner-->
	</div>
	<!--/contents-->

	<div class="contents">
		<div class="inner">
			<section id="">
				<h2>
					代表からのメッセージ
					<span>Message</span>
				</h2>
				<div class="photo">
					<img src="/img/emi.jpg" class="img">

				</div>
				<div class="message">
					<p>
						当クラブは面談は全て女性コンシェルジュが行いますのでお気軽にご応募下さい。
						<br>
						未成年でないかの確認の為、身分証明書だけご提示をお願いいたします。
						<br>

						個人情報保護 秘密厳守はお約束致します。
						<br>
						<br>

					</p>
					<p class="text-right">代表 前田恵美</p>
				</div>

			</section>
		</div>
	</div>






	<div class="contents">
		<div class="inner">
			<section id="setting">
				<h2>
					セッティング迄の流れ
					<span>Date Setting</span>
				</h2>
				<div class="mb10">
					<img src="/img/setting.jpg">
				</div>
				<p class="text-center">
					女性コンシェルジュと面談
					<br>
					↓
					<br>
					入会プロフィール作成・ポートレート撮影
					<br>
					↓
					<br>
					男性会員様からのオファーを待ちます。
					<br>
					（女性からお好みの男性タイプを聞き、オファーも可）
					<br>
					↓
					<br>

					男性会員からオファー
					<br>
					↓
					<br>
					男性・女性の日時。待ち合わせ場所をすり合わせ
					<br>
					（お店よりLINE・メールでお2人に確認します）
				</p>




				<h3>待合わせ場所例</h3>
				<div class="mb10">
					<img src="/img/hotel.jpg">
				</div>
				<p>
					・泉の広場など公共の場所
					<br>
					・シティホテルのロビーラウンジ
					<br>
					・雰囲気の良いカフェ
				</p>

				<h3>さあデートの始まりです。</h3>
				<div class="mb10">
					<img src="/img/date.jpg">
				</div>
				<p>
					優しい紳士な男性と有意義な時をお過ごし下さい。
					<br>
					食事だけでも良し、気が合えばお酒も良し交際に発展するかも？
					<br>
					出会ってからは当クラブは一切関係御座いませんので大人のお付き合いをお楽しみ下さい。
				</p>
				<h3>こんな時どうしよう？</h3>
				<div class="mb10">
					<img src="/img/lady.jpg">
				</div>
				<p>
					交際は始まったのですがやっぱりタイプじゃ無かったが怖くて断れない。
					<br>
					紳士な方ばかりですが、中には気を悪くされる方もおられます。
					<br>
					トラブルになりそうな時は等クラブのコンシェルジュにお気軽にご相談ください。
				</p>
			</section>
		</div>
		<!--/inner-->
	</div>


	<div class="contents">
		<div class="inner">
			<section id="setting">
				<h2>
					LINEでのお問合せ
					<span>LINE</span>
				</h2>
				<a href="http://line.me/ti/p/RZSOLvzOMx">
					<div class="line">
						<span class="title">LINEでのお問合せ</span>
						<br>
						<span class="id">LINE ID: Sekapato1151</span>
					</div>
				</a>
			</section>
		</div>
	</div>

	<div class="contents">
		<div class="inner">
			<section id="setting">
				<h2>
					お電話でのお問合せ
					<span>TEL</span>
				</h2>
				<a href="tel:0120810375">
					<div class="freedial">
						<span class="title">お電話でのお問合せ</span>
						<br>
						<span class="id">TEL: 0120-810-375</span>
					</div>
				</a>
			</section>
		</div>
	</div>


    <div class="contents">
        <div class="inner">
            <section id="setting">
                <h2>
                    メールでのお問合せ
                    <span>Mail</span>
                </h2>
                <a href="mailto:job@sekapato.com">
                    <div class="mail">
                        <span class="title">メールでのお問合せ</span>
                        <br>
                        <span class="id">job@sekapato.com</span>
                    </div>
                </a>
            </section>
        </div>
    </div>

	<div class="contents">
		<div class="inner">
			<section id="contactform">
				<h2>
					お問い合わせフォーム
					<span> Contact </span>
				</h2>
				<!-- フォームの情報はここからです -->
				<form th:action="@{/send}" th:object="${form}" method="post">
					<ul class="must">
						<li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerrMsg : fielderrMsg" th:text="${e.message}" />

					</ul>

					<table class="ta1">
						<tr>
							<th width="150">
								お名前
								<span style="color: red"> ※ </span>
							</th>
							<td>
								<input th:field="*{name}" th:errorclass="fieldError" class="form-control" id="name" placeholder="前田恵美" type="text" size="30" maxlength="500" class="contact">
							</td>
						</tr>
						<tr>
							<th width="150">
								メールアドレス
								<span style="color: red"> ※ </span>
							</th>
							<td>
								<input th:field="*{mailAddress}" th:errorclass="fieldError" class="form-control" id="mailAddress" placeholder="mail@sekapato.com" type="text" size="30" maxlength="500" class="contact">
							</td>
						</tr>
						<tr>
							<th width="150">
								メールアドレス(確認用)
								<span style="color: red"> ※ </span>
							</th>
							<td>
								<input th:field="*{mailAddressConfirm}" th:errorclass="fieldError" class="form-control" id="mailAddressConfirm" placeholder="mail@sekapato.com" type="text" size="30" maxlength="500"
									class="contact"
								>
							</td>
						</tr>
						<tr>
							<th>
								お問い合わせ内容
								<span style="color: red"> ※ </span>
							</th>
							<td>
								<textarea name="message" cols="40" rows="10" class="form-control" id="message" th:field="*{message}" th:errorclass="fieldError">【面談希望日】
■第1希望日時

■第2希望日時

■第3希望日時
                        </textarea>


							</td>
						</tr>
					</table>
					<div class="c">
						<input type="submit" id="submit" value="内容を確認する">
						&nbsp;
						<!-- <input type="reset" value="リセット"> -->
					</div>
				</form>
			</section>
		</div>
		<!--/inner-->
	</div>
	<!--/contents-->
	<!--/contents-->

	<p id="pagetop" class="inner">
		<a href="#"> ↑ </a>
	</p>
	<footer>
		<div id="footermenu" class="inner">
			<ul>
				<li>
					<a href="#"> About SEKAPATO </a>
				</li>
				<li>
					<a href="#"> 気になるご質問。 </a>
				</li>
				<li>
					<a href="#"> セッティングの流れ </a>
				</li>
				<li>
					<a href="#"> お問合せ </a>
				</li>
			</ul>
		</div>
		<!--/footermenu-->

		<div id="copyright">
			<small>Copyright&copy; <a href="index.html"> SEKAPATO </a> All Rights Reserved.
			</small>
			<span class="pr"> </span>
		</div>
	</footer>

	<!--スマホ用更新情報　800px以下-->
	<script type="text/javascript">
		if (OCwindowWidth() <= 800) {
			open_close("newinfo_hdr", "newinfo");
		}
	</script>

	<!--メニューの３本バー-->
	<div id="menubar_hdr" class="close">
		<span> </span>
		<span> </span>
		<span> </span>
	</div>
	<!--メニューの開閉処理条件設定　800px以下-->
	<script type="text/javascript">
		if (OCwindowWidth() <= 800) {
			open_close("menubar_hdr", "menubar-s");
		}
	</script>
</body>
</html>
